* - Copie*.*
*.*#
*.*~
*.Debug
*.Release
*.a
*.app
*.autosave
*.bak
*.core
*.debug
*.depend
*.dll
*.exe
*.flc
*.ib_pdb_index
*.idb
*.ilk
*.layout
*.moc
*.ncb
*.o
*.obj
*.opensdf
*.orig
*.pdb
*.prl
*.pro.user
*.pro.user*
*.pyc
*.qm
*.rc
*.rej
*.res
*.save
*.sdf
*.sln
*.so
*.so.*
*.suo
*.user
*.vcproj
*.vcxproj
*.~*
*Copie*.*
*Copie*/*.*
*_notes
*_pch.h.cpp
*_resource.rc
*vcproj.*.*.user
*vcxproj.*
*~
.#*
.*.swp
.DS_Store
.directory
/.qmake.cache
/.qmake.stash
/bin/*
/bin/Debug
/bin/Release
/obj/*
Makefile*
Thumbs.db
core
moc_*.cpp
qrc_*.cpp
tags
ui_*.h